iframe {
    width: 100%;
    height: 100%;
}
.layui-body {
    overflow: hidden;
}
.layui-footer {
    text-align: center;
}
.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    user-select: none;
    /* 禁止用户选中文字 */
}
.user img {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin-right: 10px;
}